# data for the IMAP Server
IMAPSERVER=mx.example.com
IMAPUSERNAME=tlsreport@example.com
IMAPPASSWORD=supersecure
IMAPFOLDER=INBOX

# Interval in minutes to check for new mails
IMAPINTERVAL=15

# Logging-Level
LOGLEVEL=INFO

# DB Settings - No need to change these unless you really want to
MARIADB_ROOT_PASSWORD=tlsreport
MARIADB_DATABASE=tlsreport
MARIADB_USER=tlsreport
MARIADB_PASSWORD=tlsreport

# Enable this to always read all mails. When disabled, only unread mails are checked.
READ_ALL_MAILS=0